body {
  font-family: "Poppins", sans-serif;
}

:root {
  --min-width: 320px;
  --max-width: 1920px;
  --max-width-container: 1400px;
  --primary-font-family: "Roboto", sans-serif;
  --text-color: #1d1d1f;
  --accent-color: #db042d;
  --header-height: 80px;
  --header-height: 80px;
}

.catalog-page-top-links {
  padding-top: 20px;
}

.top-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-links-wrapper .top-links-item {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-links-wrapper .top-links-item a {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #000000;
}

.top-links-wrapper .top-links-item span {
  font-size: 12px;
  font-weight: 300;
  line-height: 150%;
  color: #0156FF;
}

.top-links-wrapper .top-links-item:last-child {
  margin-right: 0;
}

.top-links-wrapper .top-links-item:last-child span {
  display: none;
}

.top-links-wrapper .top-links-item:last-child a {
  margin-right: 0;
  color: #A2A6B0;
  cursor: default;
}

.top-links-wrapper .top-links-item:hover a {
  text-decoration: underline;
}

.top-links-wrapper .top-links-item:hover:last-child a {
  text-decoration: none;
}