<link rel="stylesheet" href="assets/index-hero.css?v=1.0.0">

<section class="hero-section">
	<div class="container">
		<div class="hero-section__content">
			Hero Section
		</div>
	</div>
</section>

<script src="assets/index-hero.js?v=1.0.0"></script>