<link rel="stylesheet" href="assets/main-page-banner-upside.css?v=1.0.0">

<section class="main-page-section-product-with-banner-upside">
    <div class="container">
        <div class="upside-bunner">
            <img src="../img/main-page-zip-logo.svg" 
                    alt="logo of zip company"
                    loading="lazy"
                    class="upside-bunner-image">
            <div class="upside-bunner-cross-line"></div>
            <p><span>own</span>it now, up to 6 months interest free<a href="#">learn more</a></p>
        </div>
        <div class="bottom-side-part">
            <a href="#">
                <div class="left-of-bottom-part">
                    <img src="../img/main-page-upper-bunner-left-background.jpg" 
                            alt="bacground image"
                            loading="lazy">
                    <h2>Custome<br>Builds</h2>
                    <p href="#">See All Products</p>
                </div>
            </a>
            <div class="right-part-products">
                <div class="bunner-upside-swiper _swiper">
                    <div class="swiper-wrapper swiper-wrapper-bunner-upside">
                        <div class="swiper-slide bunner-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-charlie-v6-orange.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide bunner-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/main-page-product-stuck-no.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p class="stock-status-no">check availability</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-bravo-v6-red.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-alpha-v6-blue.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-zulu-v6.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-delta-v6.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-bravo-v6-red.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-alpha-v6-blue.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/main-page-product-stuck-no.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p class="stock-status-no">check availability</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-delta-v6.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/swiper.min.js?v=1.0.0"></script>
<script src="assets/main-page-banner-upside.js?v=1.0.0"></script>