<link rel="stylesheet" href="assets/product-swiper-without-links.css?v=1.0.0">

<section class="product-swiper-with-links">
    <div class="container">
        <div class="bottom-side-part ">
            <a href="#">
                <div class="left-of-bottom-part">
                    <img src="../img/main-page-monitors-background.jpg" 
                            alt="bacground image"
                            loading="lazy">
                    <h2>Gaming<br>Monitors</h2>
                    <p href="#">See All Products</p>
                </div>
            </a>
            <div class="right-part-products">
                <div class="without-links-swiper _swiper">
                    <div class="swiper-wrapper swiper-wrapper-bunner-upside">
                        <div class="swiper-slide bunner-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-1.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide bunner-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/main-page-product-stuck-no.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p class="stock-status-no">check availability</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-2.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-3.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-4.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-1.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-2.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/product-card-stock-status-yes.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p>in stock</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-3.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="new-product-item">
                                <a href="#">
                                    <div class="stock-status">
                                        <img src="../img/main-page-product-stuck-no.svg" 
                                                alt="product available status"
                                                loading="lazy">
                                        <p class="stock-status-no">check availability</p>
                                    </div>
                                    <div class="new-product-image">
                                        <img src="../img/main-page-monitor-4.jpg" 
                                                alt="image of product"
                                                loading="lazy">
                                    </div>
                                    <div class="new-item-stars-and-rewievs">
                                        <div class="new-product-rating">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-card-rates-star-yellow.svg" 
                                                    alt="full yellow star of rating"
                                                    loading="lazy">
                                            <img src="../img/product-small-cart-rates-star-gray.svg" 
                                                    alt="gray star of rating"
                                                    loading="lazy">
                                        </div>
                                        <div class="new-product-rewievs-number">
                                            <p>Reviews(<span>4</span>)</p>
                                        </div>
                                    </div>
                                    <div class="new-product-name">
                                        <span>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</span>
                                    </div>
                                    <div class="new-product-price">
                                        <span class="new-product-old-price">$499.00</span>
                                        <p class="new-product-correct-price">$499.00</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/swiper.min.js?v=1.0.0"></script>
<script src="assets/product-swiper-without-links.js?v=1.0.0"></script>