@import "support-files/vars";

.cart-upper-links{
    display: flex;
    padding: 20px 0px;
    a{
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        color: #000000;
        &:hover{
            text-decoration: underline;
        }
    }
    span{
        font-size: 12px;
        font-weight: 300;
        line-height: 150%;
        margin: 0px 7px;
        color: #0156FF;
    }
    p{
        font-size: 12px;
        font-weight: 300;
        line-height: 150%;
        color: gray;
    }
}

.cart-heading{
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    padding-bottom: 20px;
}

.cart-main-part{
    display: flex;
    .cart-main-part-left-side{
        width: 70%;
        margin-right: 35px;
        .cart-left-side-grid{
            display: grid;
            margin-bottom: 25px;
            .cart-names-of-columns{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                border-bottom: 1px solid #CACDD8;
                span{
                    padding: 5px 0px 15px 0px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 150%;
                    &:first-child{
                        grid-column: 1 / 3;
                    }
                }
            }
            .cart-product-item{
                display: grid;
                grid-template-columns: 0.7fr 1.3fr 1fr 1fr 1fr;
                justify-content: center;
                align-items: center;
                padding: 25px 0px;
                border-bottom: 1px solid #CACDD8;
                .cart-product-image{
                    max-width: 120px;
                    max-height: 120px;
                }
                .cart-product-name{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 150%;
                    margin: 0px 20px;
                    &:hover{
                        text-decoration: underline;
                    }
                    a{
                        color: #000000;
                    }
                }
                .cart-product-price{
                    span{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 150%;
                        display: flex;
                    }
                    .tablet-heading{
                        display: none;
                    }
                }
                .right-part-upper-links-counter-item-wrapper{
                    .tablet-heading{
                        display: none;
                    }
                    .right-part-upper-links-counter-item{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        background: #F5F7FF;
                        border-radius: 6px;
                        width: 70px;
                        height: 50px;
                        padding: 0px 0px 0px 10px;
                        span{
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 150%;
                            text-align: center;
                        }
                        .right-part-upper-links-counter-item-arrows{
                            display: grid;
                            height: 100%;
                            align-items: center;
                            padding: 10px 0px;
                            .right-part-upper-links-counter-item-arrow-up{
                                cursor: pointer;
                                transition: 0.5s;
                                stroke: #A2A6B0;
                                &:hover{
                                    stroke: #000000;
                                }
                            }
                            .mobile-right-part-upper-links-counter-item-arrow-up{
                                cursor: pointer;
                                transition: 0.5s;
                                stroke: #A2A6B0;
                                &:hover{
                                    stroke: #000000;
                                }
                            }
                            .right-part-upper-links-counter-item-arrow-down{
                                transform: rotate(180deg);
                                cursor: pointer;
                                transition: 0.5s;
                                stroke: #A2A6B0;
                                &:hover{
                                    stroke: #000000;
                                }
                            }
                            .mobile-right-part-upper-links-counter-item-arrow-down{
                                transform: rotate(180deg);
                                cursor: pointer;
                                transition: 0.5s;
                                stroke: #A2A6B0;
                                &:hover{
                                    stroke: #000000;
                                }
                            }
                        }
                    }
                }
                .cart-product-subtotal{
                    display: flex;
                    justify-content: space-between;
                    padding-right: 10px;
                    span{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 150%;
                    }
                    .tablet-heading{
                        display: none;
                    }
                    .cart-product-subtotal-buttons-wrapper{
                        display: grid;
                        grid-gap: 6px;
                        .cart-product-subtotal-buttons-item{
                            background: transparent;
                            svg{
                                circle{
                                    stroke: #CACDD8;
                                    transition: 0.5s;
                                }
                                path{
                                    stroke: #A2A6B0;
                                    fill: #A2A6B0;
                                    transition: 0.5s;
                                }
                            }
                            &:hover{
                                svg{
                                    circle{
                                        stroke: #000000;
                                    }
                                    path{
                                        stroke: #000000;
                                        fill: #000000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-left-side-bottom-button{
            display: flex;
            justify-content: space-between;
            margin-bottom: 70px;
            .bottom-buttons-left-side{
                display: flex;
                .bottom-button-item-gray{
                    margin-right: 10px;
                    height: 37px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 30px;
                    color: #A2A6B0;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 150%;
                    border: 2px solid #A2A6B0;
                    border-radius: 50px;
                    background: #FFFFFF;
                    transition: 0.5s;
                    &:hover{
                        background: #A2A6B0;
                        color: #FFFFFF;
                    }
                }
            }
            .bottom-button-item-black{
                height: 37px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 30px;
                background: #000000;
                color: #FFFFFF;
                transition: 0.5s;
                border-radius: 50px;
                border: 2px solid #000000;
                font-size: 14px;
                font-weight: 600;
                line-height: 150%;
                &:hover{
                    color: #000000;
                    background: #FFFFFF;
                }
            }
        }
    }
    .cart-main-part-right-side{
        width: 30%;
        background: #F5F7FF;
        padding: 20px 30px;
        margin-bottom: 70px;
        .cart-right-side-wrapper{
            h3{
                font-size: 24px;
                font-weight: 600;
                line-height: 150%;
                margin-bottom: 20px;
            }
            .right-side-subtotal{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                h4{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
                span{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
            }
            .right-side-shipping{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .shipping-left-side{
                    margin-bottom: 3px;
                    h4{
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 200%;
                    }
                    span{
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 150%;
                        color: #A2A6B0;
                    }
                }
                p{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
            }
            .right-side-tax{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                h4{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
                span{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
            }
            .right-side-gst{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                h4{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
                span{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
            }
            .right-side-total{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                h4{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 200%;
                }
                span{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 200%;
                }
            }
            .right-side-buttons-grid{
                display: grid;
                grid-gap: 15px;
                margin-bottom: 25px;
                .cart-checkout-button{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 150%;
                    background: #0156FF;
                    color: #FFFFFF;
                    transition: 0.5s;
                    border-radius: 50px;
                    border: 2px solid #0156FF;
                    &:hover{
                        background: #FFFFFF;
                        color: #0156FF;
                    }
                }
                .cart-paypall-button{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;
                    background: #FFB800;
                    border-radius: 50px;
                    border: 2px solid #FFB800;
                    span{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 150%;
                        color: #000000;
                        transition: 0.5s;
                        margin-right: 15px;
                    }
                    img{
                        max-width: 72px;
                        max-height: 18px;
                        transition: 0.5s;
                    }
                    &:hover{
                        background: #FFFFFF;
                        span{
                            color: #FFB800;
                        }
                    }
                }
                .cart-multiple-address-button{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 150%;
                    background: #F5F7FF;
                    color: #A2A6B0;
                    border: 2px solid #A2A6B0;
                    border-radius: 50px;
                    transition: 0.5s;
                    &:hover{
                        color: #F5F7FF;
                        background: #A2A6B0;
                    }
                }
            }
            .right-side-zip-and-link{
                display: flex;
                align-items: center;
                img{
                    max-width: 59px;
                    max-height: 21px;
                }
                .zip-underline{
                    min-height: 18px;
                    border: 1px solid #00AEB8;
                    border-radius: 50px;
                    margin: 0px 7px;
                }
                span{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 120%;
                    color: #272560;
                    display: flex;
                    align-items: center;
                    a{
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 120%;
                        color: #272560;
                        text-decoration: underline;
                        margin-left: 3px;
                        &:hover{
                            color: #0156FF;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet){
    .cart-upper-links{
        padding: 20px 0px 13px 0px;
    }
    .cart-heading{
        font-size: 18px;
        padding-bottom: 13px;
    }
    .cart-main-part{
        .cart-main-part-left-side{
            width: 50%;
            .cart-left-side-grid{
                margin-bottom: 18px;
                .cart-names-of-columns{
                    display: none;
                }
                .cart-product-item{
                    grid-template-columns:1fr 1fr 1fr;
                    grid-row-gap: 13px;
                    align-items: flex-start;
                    padding: 15px 0px;
                    .cart-product-image{
                        max-width: 68px;
                        max-height: 68px;
                        margin: 0 auto;
                    }
                    .cart-product-name{
                        font-size: 10px;
                        margin: 0px;
                        grid-column: 2 / 6;
                    }
                    .cart-product-price{
                        span{
                            font-size: 12px;
                        }
                        .tablet-heading{
                            display: block;
                            font-size: 11px;
                            font-weight: 600;
                            line-height: 150%;
                            margin-bottom: 5px;
                        }
                    }
                    .right-part-upper-links-counter-item-wrapper{
                        .tablet-heading{
                            display: block;
                            font-size: 11px;
                            font-weight: 600;
                            line-height: 150%;
                            margin-bottom: 5px;
                        }
                        .right-part-upper-links-counter-item{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            background: #F5F7FF;
                            border-radius: 6px;
                            width: 56px;
                            height: 42px;
                            padding: 0px 0px 0px 10px;
                            span{
                                font-size: 13px;
                                font-weight: 600;
                                line-height: 150%;
                                text-align: center;
                            }
                            .right-part-upper-links-counter-item-arrows{
                                display: grid;
                                height: 100%;
                                align-items: center;
                                padding: 10px 0px;
                                .right-part-upper-links-counter-item-arrow-up{
                                    cursor: pointer;
                                    transition: 0.5s;
                                    stroke: #A2A6B0;
                                    &:hover{
                                        stroke: #000000;
                                    }
                                }
                                .mobile-right-part-upper-links-counter-item-arrow-up{
                                    cursor: pointer;
                                    transition: 0.5s;
                                    stroke: #A2A6B0;
                                    &:hover{
                                        stroke: #000000;
                                    }
                                }
                                .right-part-upper-links-counter-item-arrow-down{
                                    transform: rotate(180deg);
                                    cursor: pointer;
                                    transition: 0.5s;
                                    stroke: #A2A6B0;
                                    &:hover{
                                        stroke: #000000;
                                    }
                                }
                                .mobile-right-part-upper-links-counter-item-arrow-down{
                                    transform: rotate(180deg);
                                    cursor: pointer;
                                    transition: 0.5s;
                                    stroke: #A2A6B0;
                                    &:hover{
                                        stroke: #000000;
                                    }
                                }
                            }
                        }
                    }
                    .cart-product-subtotal{
                        padding-right: 0px;
                        .subtotal-spans-wrapper{
                            display: block;
                        }
                        .tablet-heading{
                            display: block;
                            font-size: 11px;
                            font-weight: 600;
                            line-height: 150%;
                            margin-bottom: 5px;
                        }
                        span{
                            font-size: 12px;
                        }
                        .cart-product-subtotal-buttons-wrapper{
                            grid-gap: 3px;
                        }
                    }
                }
            }
            .cart-left-side-bottom-button{
                margin-bottom: 30px;
                display: block;
                width: 100%;
                grid-gap: 10px;
                padding: 0px 20px;
                .bottom-buttons-left-side{
                    display: grid;
                    grid-gap: 10px;
                    margin-bottom: 10px;
                    min-width: 100%;
                    .bottom-button-item-gray{
                        margin-right: 0px;
                        height: 37px;
                        display: flex;
                        font-size: 13px;
                        min-width: 100%;
                    }
                }
                .bottom-button-item-black{
                    height: 37px;
                    display: flex;
                    font-size: 13px;
                    min-width: 100%;
                }
            }
        }
        .cart-main-part-right-side{
            width: 50%;
            background: #F5F7FF;
            padding: 20px 17px 30px 17px;
            margin-bottom: 30px;
            .cart-right-side-wrapper{
                h3{
                    font-size: 14px;
                    margin-bottom: 13px;
                }
                .right-side-subtotal{
                    margin-bottom: 5px;
                    h4{
                        font-size: 11px;
                    }
                    span{
                        font-size: 11px;
                    }
                }
                .right-side-shipping{
                    margin-bottom: 5px;
                    .shipping-left-side{
                        margin-bottom: 1px;
                        h4{
                            font-size: 11px;
                        }
                        span{
                            font-size: 10px;
                        }
                    }
                    p{
                        font-size: 11px;
                    }
                }
                .right-side-tax{
                    margin-bottom: 5px;
                    h4{
                        font-size: 11px;
                    }
                    span{
                        font-size: 11px;
                    }
                }
                .right-side-gst{
                    margin-bottom: 5px;
                    h4{
                        font-size: 11px;
                    }
                    span{
                        font-size: 11px;
                    }
                }
                .right-side-total{
                    margin-bottom: 15px;
                    h4{
                        font-size: 11px;
                    }
                    span{
                        font-size: 13px;
                    }
                }
                .right-side-buttons-grid{
                    grid-gap: 10px;
                    margin-bottom: 20px;
                    .cart-checkout-button{
                        height: 38px;
                        font-size: 13px;
                    }
                    .cart-paypall-button{
                        height: 38px;
                        span{
                            font-size: 13px;
                            margin-right: 10px;
                        }
                    }
                    .cart-multiple-address-button{
                        height: 38px;
                        font-size: 13px;
                    }
                }
                .right-side-zip-and-link{
                    span{
                        font-size: 10px;
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet-small){
    .cart-upper-links{
        padding: 15px 0px 10px 0px;
    }
    
    .cart-main-part{
        display: grid;
        grid-gap: 5px;
        .cart-main-part-left-side{
            width: 100%;
            grid-row: 2;
            margin-right: 0px;
            .cart-left-side-grid{
                margin-bottom: 17px;
                .cart-product-item{
                    padding: 15px 0px;
                }
            }
            .cart-left-side-bottom-button{
                margin-bottom: 40px;
                .bottom-buttons-left-side{
                    display: block;
                    .bottom-button-item-gray{
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .cart-main-part-right-side{
            width: 100%;
            margin-bottom: 0px;
            .cart-right-side-wrapper{
                .right-side-zip-and-link{
                    justify-content: center;
                }
            }
        }
    }
}