@import "support-files/vars";

._swiper {
    overflow: hidden;
    //.swiper-wrapper
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      display: flex;
      position: relative;
    }
    &.swiper-container-vertical {
      .swiper-wrapper {
        flex-direction: column;
      }
    }
    &.swiper-container-autoheight {
      .swiper-wrapper {
        align-items: flex-start;
      }
    }
}
.swiper-container-initialized {
    .swiper-slide {
      flex-shrink: 0;
      // transition-property: transform;
    }
}
.swiper-container-android {
    .swiper-slide,
    .swiper-wrapper {
      transform: translate3d(0px, 0, 0);
    }
}
.swiper-button-lock {
    display: none !important;
}

.main-page-rewiev-swiper-section{
  padding: 20px 0px;
}

.main-page-rewiev-swiper-wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 30px 80px;
  background: #F5F7FF;
}

.main-page-rewiev-item{
  margin-bottom: 20px;
  .main-page-rewiev-item-upper-part{
    display: flex;
    margin-bottom: 10px;
    img{
      max-width: 46px;
      max-height: 25px;
      margin-right: 20px;
    }
    p{
      font-family: 'Poppins';
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .rewiev-swiper-author-name{
    display: flex;
    justify-content: end;
    span{
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.main-page-rewiev-bottom-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    padding: 8px 26px;
    color: #0156FF;
    border: 2px solid #0156FF;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    &:hover{
      color: #FFFFFF;
      background: #0156FF;
      transition: 0.5s;
    }
  }
}

.review-swiper-pagination{
  display: flex;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #CACDD8;
  margin-right: 10px;
  transition: 0.5s;
  &:last-child{
    margin-right: 0;
  }
}

.swiper-pagination-bullet-active{
  background: #0156FF;
  transition: 0.5s;
}

@media (max-width: $laptop){
  .main-page-rewiev-swiper-wrapper{
    width: 90%;
  }
}

@media (max-width: $tablet){
  .main-page-rewiev-swiper-wrapper{
    width: 100%;
    padding: 30px 20px;
  }
  .main-page-rewiev-item{
    margin-bottom: 10px;
    .main-page-rewiev-item-upper-part{
      img{
        max-width: 35px;
        max-height: 20px;
      }
      p{
        font-size: 14px;
      }
    }
    .rewiev-swiper-author-name{
      span{
        font-size: 11px;
      }
    }
  }
}

@media (max-width: $phone){
  .main-page-rewiev-swiper-wrapper{
    padding: 20px 20px;
  }
  .main-page-rewiev-item{
    .main-page-rewiev-item-upper-part{
      img{
        max-width: 30px;
        max-height: 15px;
        margin-right: 10px;
      }
      p{
        -webkit-line-clamp: 9;
      }
    }

  }
  .main-page-rewiev-bottom-part{
    a{
      font-size: 12px;
    }
  }
  .swiper-pagination-bullet{
    margin-right: 7px;
  }
}
