body {
  font-family: "Poppins", sans-serif;
}

:root {
  --min-width: 320px;
  --max-width: 1920px;
  --max-width-container: 1400px;
  --primary-font-family: "Roboto", sans-serif;
  --text-color: #1d1d1f;
  --accent-color: #db042d;
  --header-height: 80px;
  --header-height: 80px;
}

.login-page-upper-links {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-page-upper-links a {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #000000;
}

.login-page-upper-links a:hover {
  text-decoration: underline;
}

.login-page-upper-links span {
  font-size: 12px;
  font-weight: 300;
  line-height: 150%;
  margin: 0px 8px;
  color: #0156FF;
}

.login-page-upper-links p {
  font-size: 12px;
  font-weight: 300;
  line-height: 150%;
  color: gray;
}

.login-page-heading h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 20px;
}

.login-page-main-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 120px 60px 120px;
  grid-gap: 35px;
}

.login-page-main-part .login-page-main-part-left-side {
  padding: 40px 60px;
  background: #F5F7FF;
}

.login-page-main-part .login-page-main-part-left-side .login-heading h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 10px;
}

.login-page-main-part .login-page-main-part-left-side .login-heading p {
  font-size: 14px;
  font-weight: 300;
  line-height: 200%;
  margin-bottom: 10px;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item {
  display: grid;
  margin-bottom: 15px;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item label {
  font-size: 13px;
  font-weight: 600;
  line-height: 200%;
  color: #000000;
  margin-bottom: 5px;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item label span {
  color: #C94D3F;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item input {
  border: 1px solid #A2A6B0;
  border-radius: 4px;
  padding: 13px 17px;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item input::-webkit-input-placeholder {
  color: #A2A6B0;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item input::-moz-placeholder {
  color: #A2A6B0;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item input:-ms-input-placeholder {
  color: #A2A6B0;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item input::-ms-input-placeholder {
  color: #A2A6B0;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item input::placeholder {
  color: #A2A6B0;
}

.login-page-main-part .login-page-main-part-left-side .login-input-item:last-child {
  margin-bottom: 30px;
}

.login-page-main-part .login-page-main-part-left-side .login-button-and-restore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page-main-part .login-page-main-part-left-side .login-button-and-restore button {
  margin-right: 23px;
  color: #FFFFFF;
  background: #0156FF;
  border: 2px solid #0156FF;
  border-radius: 50px;
  padding: 13px 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.login-page-main-part .login-page-main-part-left-side .login-button-and-restore button:hover {
  color: #0156FF;
  background: #FFFFFF;
}

.login-page-main-part .login-page-main-part-left-side .login-button-and-restore a {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #0156FF;
  text-decoration: underline;
}

.login-page-main-part .login-page-main-part-left-side .login-button-and-restore a:hover {
  text-decoration: none;
}

.login-page-main-part .login-page-main-part-right-side {
  padding: 40px 60px;
  background: #F5F7FF;
}

.login-page-main-part .login-page-main-part-right-side .create-account-side-heading {
  margin-bottom: 35px;
}

.login-page-main-part .login-page-main-part-right-side .create-account-side-heading h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 22px;
}

.login-page-main-part .login-page-main-part-right-side .create-account-side-heading span {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}

.login-page-main-part .login-page-main-part-right-side .create-account-side-heading .benefits-of-account {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  padding-top: 30px;
}

.login-page-main-part .login-page-main-part-right-side .create-account-side-heading .benefits-of-account li {
  list-style: inside;
}

.login-page-main-part .login-page-main-part-right-side .login-page-create-account-button {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: #FFFFFF;
  background: #0156FF;
  border-radius: 50px;
  border: 2px solid #0156FF;
  padding: 13px 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.login-page-main-part .login-page-main-part-right-side .login-page-create-account-button:hover {
  background: #FFFFFF;
  color: #0156FF;
}

@media (max-width: 1212px) {
  .login-page-main-part {
    padding: 0px 30px 60px 30px;
  }
}

@media (max-width: 992px) {
  .login-page-upper-links {
    padding: 20px 0px 13px 0px;
  }

  .login-page-heading h2 {
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 13px;
  }

  .login-page-main-part {
    padding: 0px 30px 30px 30px;
    grid-gap: 20px;
  }

  .login-page-main-part .login-page-main-part-left-side {
    padding: 30px 20px;
  }

  .login-page-main-part .login-page-main-part-left-side .login-heading h3 {
    font-size: 14px;
  }

  .login-page-main-part .login-page-main-part-left-side .login-heading p {
    font-size: 12px;
  }

  .login-page-main-part .login-page-main-part-left-side .login-input-item label {
    font-size: 11px;
  }

  .login-page-main-part .login-page-main-part-left-side .login-input-item input {
    padding: 8px 13px;
    font-size: 12px;
  }

  .login-page-main-part .login-page-main-part-left-side .login-input-item:last-child {
    margin-bottom: 16px;
  }

  .login-page-main-part .login-page-main-part-left-side .login-button-and-restore button {
    margin-right: 15px;
    padding: 8px 35px;
    font-size: 13px;
  }

  .login-page-main-part .login-page-main-part-left-side .login-button-and-restore a {
    font-size: 11px;
  }

  .login-page-main-part .login-page-main-part-right-side {
    padding: 30px;
  }

  .login-page-main-part .login-page-main-part-right-side .create-account-side-heading {
    margin-bottom: 22px;
  }

  .login-page-main-part .login-page-main-part-right-side .create-account-side-heading h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .login-page-main-part .login-page-main-part-right-side .create-account-side-heading span {
    font-size: 12px;
  }

  .login-page-main-part .login-page-main-part-right-side .create-account-side-heading .benefits-of-account {
    font-size: 12px;
    padding-top: 20px;
  }

  .login-page-main-part .login-page-main-part-right-side .login-page-create-account-button {
    margin-right: 15px;
    padding: 8px 35px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .login-page-main-part {
    grid-template-columns: 1fr;
    padding: 0px 5px 15px 5px;
  }
}