<link rel="stylesheet" href="assets/catalog-page-top-banner.css?v=1.0.0">

<section class="catalog-page-top-bunner">
    <a class="catalog-page-top-bunner-item" href="#">
        <img src="../img/catalog-page-top-bunner.jpg" 
            alt="catlpg page top bunner"
            loading="lazy">
    </a>
</section>