<link rel="stylesheet" href="assets/contact-us-page-main-section.css?v=1.0.0">

<section class="contact-us-section">
    <div class="container">
        <div class="contact-us-section-wrapper">
            <div class="contact-us-section-upper-links">
                <a href="index.html">Home</a>
                <span>›</span>
                <p>Contact Us</p>
            </div>
            <div class="contact-us-section-heading">
                <h2>Contact Us</h2>
            </div>
            <div class="contact-us-description-for-tablet">
                <p>We love hearing from you, our Shop customers.<br>
                    Please contact us and we will make sure to get back to you as soon as we possibly can.</p>
            </div>
            <div class="contact-us-section-main-part">
                <div class="contact-us-left-side">
                    <div class="contact-us-description">
                        <p>We love hearing from you, our Shop customers.<br>
                            Please contact us and we will make sure to get back to you as soon as we possibly can.</p>
                    </div>
                    <div class="contact-us-inputs">
                        <div class="contact-us-input-item">
                            <p>Your Name <span>*</span></p>
                            <input type="text" placeholder="Your Name" required>
                        </div>
                        <div class="contact-us-input-item">
                            <p>Your Email <span>*</span></p>
                            <input type="email" placeholder="Your Email" required>
                        </div>
                        <div class="contact-us-input-item">
                            <p>Your Phone Number</p>
                            <input type="tel" placeholder="Your Phone">
                        </div>
                        <div class="contact-us-textarea-item">
                            <p>What’s on your mind? <span>*</span></p>
                            <textarea required type="text" placeholder="Jot us a note and we’ll get back to you as quickly as possible"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="contact-us-button">Submit</button>
                </div>
                <div class="contact-us-right-side">
                    <div class="contact-us-right-side-wrapper">
                        <ul class="contact-us-information-list">
                            <li class="contact-us-information-item">
                                <img src="../img/contact-us-information-location.svg" 
                                    alt="image of location"
                                    loading="lazy"
                                    class="contact-us-information-first-image">
                                <div class="contact-us-information-wrapper">
                                    <span>Address:</span>
                                    <p>1234 Street Adress City Address, 1234</p>
                                </div>
                            </li>
                            <li class="contact-us-information-item">
                                <img src="../img/contact-us-information-phone.svg" 
                                    alt="image of phone"
                                    loading="lazy">
                                <div class="contact-us-information-wrapper">
                                    <span>Phone:</span>
                                    <p>(00)1234 5678</p>
                                </div>
                            </li>
                            <li class="contact-us-information-item">
                                <img src="../img/contact-us-information-time.svg" 
                                    alt="image of clock"
                                    loading="lazy">
                                <div class="contact-us-information-wrapper">
                                    <span>We are open:</span>
                                    <p>Monday - Thursday: 9:00 AM - 5:30 PM<br>
                                        Friday 9:00 AM - 6:00 PM<br>
                                        Saturday: 11:00 AM - 5:00 PM</p>
                                </div>
                            </li>
                            <li class="contact-us-information-item">
                                <img src="../img/contact-us-information-mail.svg" 
                                    alt="image of phone"
                                    loading="lazy">
                                <div class="contact-us-information-wrapper">
                                    <span>E-mail:</span>
                                    <p class="contact-us-information-email">shop@email.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>