		<link rel="stylesheet" href="assets/footer.css?v=1.0.0">
		
		<footer class="footer">
			<div class="footer-wrapper">
				<div class="footer__content container">
					<div class="footer-heading-section">
						<div class="footer-heading-left-side">
							<h1>Sign Up To Our Newsletter.</h1>
							<p>Be the first to hear about the latest offers.</p>
						</div>
						<div class="footer-heading-right-side">
							<input class="footer-input-email" placeholder="Your Email">
							<button type="submit" class="footer-button">Subscribe</button>
						</div>
					</div>
					<div class="footer-columns-section">
						<div class="footer-column-item">
							<div class="tablet-arrow">
								<div class="heading-and-arrow-wrapper">
									<h3 class="footer-information-links-list-heading">Information</h3>
									<img src="../img/footer-tablet-arrow.svg" 
										alt="arrow"
										loading="lazy"
										class="footer-tablet-arrow">
								</div>
							</div>
							<ul class="footer-information-links-list">
								<a href="about-us.html" class="footer-information-links-item">About Us</a>
								<a href="#" class="footer-information-links-item">About Zip</a>
								<a href="#" class="footer-information-links-item">Privacy Policy</a>
								<a href="#" class="footer-information-links-item">Search</a>
								<a href="faq.html" class="footer-information-links-item">Terms</a>
								<a href="#" class="footer-information-links-item">Orders and Returns</a>
								<a href="#" class="footer-information-links-item">Contact Us</a>
								<a href="#" class="footer-information-links-item">Advanced Search</a>
								<a href="#" class="footer-information-links-item">Newsletter Subscription</a>
							</ul>
							<div class="tablet-footer-underline"></div>
						</div>
						<div class="footer-column-item">
							<div class="tablet-arrow">
								<div class="heading-and-arrow-wrapper">
									<h3 class="footer-information-links-list-heading">PC Parts</h3>
									<img src="../img/footer-tablet-arrow.svg" 
										alt="arrow"
										loading="lazy"
										class="footer-tablet-arrow footer-active-arrow">
								</div>
							</div>
							<ul class="footer-information-links-list tablet-footer-information-active">
								<a href="#" class="footer-information-links-item">CPUS</a>
								<a href="#" class="footer-information-links-item">Add On Cards</a>
								<a href="#" class="footer-information-links-item">Hard Drives (Internal)</a>
								<a href="#" class="footer-information-links-item">Graphic Cards</a>
								<a href="#" class="footer-information-links-item">Keyboards / Mices</a>
								<a href="#" class="footer-information-links-item">Cases / Power Supplies / Cooling</a>
								<a href="#" class="footer-information-links-item">RAM (Memory)</a>
								<a href="#" class="footer-information-links-item">Software</a>
								<a href="#" class="footer-information-links-item">Speakers / Headsets</a>
								<a href="#" class="footer-information-links-item">Motherboards</a>
							</ul>
							<div class="tablet-footer-underline"></div>
						</div>
						<div class="footer-column-item">
							<div class="tablet-arrow">
								<div class="heading-and-arrow-wrapper">
									<h3 class="footer-information-links-list-heading">Desktop PCs</h3>
									<img src="../img/footer-tablet-arrow.svg" 
										alt="arrow"
										loading="lazy"
										class="footer-tablet-arrow">
								</div>
							</div>
							<ul class="footer-information-links-list">
								<a href="#" class="footer-information-links-item">Custom PCs</a>
								<a href="#" class="footer-information-links-item">Servers</a>
								<a href="#" class="footer-information-links-item">MSI All-In-One PCs</a>
								<a href="#" class="footer-information-links-item">HP/Compaq PCs</a>
								<a href="#" class="footer-information-links-item">ASUS PCs</a>
								<a href="#" class="footer-information-links-item">Tecs PCs</a>
							</ul>
							<div class="tablet-footer-underline"></div>
						</div>
						<div class="footer-column-item">
							<div class="tablet-arrow">
								<div class="heading-and-arrow-wrapper">
									<h3 class="footer-information-links-list-heading">Laptops</h3>
									<img src="../img/footer-tablet-arrow.svg" 
										alt="arrow"
										loading="lazy"
										class="footer-tablet-arrow">
								</div>
							</div>
							<ul class="footer-information-links-list">
								<a href="#" class="footer-information-links-item">Evryday Use Notebooks</a>
								<a href="#" class="footer-information-links-item">MSI Workstation Series</a>
								<a href="#" class="footer-information-links-item">MSI Prestige Series</a>
								<a href="#" class="footer-information-links-item">Tablets and Pads</a>
								<a href="#" class="footer-information-links-item">Netbooks</a>
								<a href="#" class="footer-information-links-item">Infinity Gaming Notebooks</a>
							</ul>
							<div class="tablet-footer-underline"></div>
						</div>
						<div class="footer-column-item footer-adress">
							<div class="tablet-arrow">
								<div class="heading-and-arrow-wrapper">
									<h3 class="footer-information-links-list-heading">Address</h3>
									<img src="../img/footer-tablet-arrow.svg" 
										alt="arrow"
										loading="lazy"
										class="footer-tablet-arrow">
								</div>
							</div>
							<div class="footer-information-links-list">
								<span>Address: 1234 Street Adress City Address, 1234</span>
								<span>Phones: <a>(00) 1234 5678</a></span>
								<span>We are open: Monday-Thursday: 9:00 AM - 5:30 PM</span>
								<span>Friday: 9:00 AM - 6:00 PM</span>
								<span>Saturday: 11:00 AM - 5:00 PM</span>
								<span>E-mail: <a>shop@email.com</a></span>
							</div>
							<div class="tablet-footer-underline"></div>
						</div>
					</div>
					<div class="footer-bottom-section">
						<div class="footer-bottom-socials">
							<a href="https://www.facebook.com">
								<img src="../img/facebook-header.svg" 
									alt="facebook link"
									loading="lazy">
							</a>
							<a href="https://www.instagram.com">
								<img src="../img/instagram-header.svg" 
									alt="instagram link"
									loading="lazy">
							</a>
						</div>
						<div class="footer-bottom-pay-sistems">
							<div class="footer-bottom-pay-sistem-wrapper paypal-background">
								<img src="../img/header-cart-paypal.svg" 
									alt="paypal logo"
									loading="lazy">
							</div>
							<div class="footer-bottom-pay-sistem-wrapper visa-background">
								<img src="../img/footer-visa.svg" 
									alt="visa logo"
									loading="lazy">
							</div>
							<div class="footer-bottom-pay-sistem-wrapper mastercard-background">
								<img src="../img/footer-mastercard.svg" 
									alt="mastercard logo"
									loading="lazy">
							</div>
							<div class="footer-bottom-pay-sistem-wrapper discover-background">
								<img src="../img/footer-discover.svg" 
									alt="visa logo"
									loading="lazy">
							</div>
							<div class="footer-bottom-pay-sistem-wrapper american-express-background">
								<img src="../img/footer-american-express.svg" 
									alt="visa logo"
									loading="lazy">
							</div>
						</div>
						<div class="footer-bottom-copyright">
							<a class="footer-bottom-copyright-item" href="#">Copyright © 2022 Artem Grechko</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="assets/footer.js?v=1.0.0"></script>
	</body>
</html>