<link rel="stylesheet" href="assets/main-page-first-slider.css?v=1.0.0">

<section class="main-page-first-slider">
    <div class="container">
        <div class="main-page-first-swiper _swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="slide-inner" href="#">
                        <img src="../img/main-page-first-slider.jpg" 
                            alt="first slide image"
                            loading="lazy"
                            class="slide-image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="slide-inner" href="#">
                        <img src="../img/main-page-first-slider.jpg" 
                            alt="first slide image"
                            loading="lazy"
                            class="slide-image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="slide-inner" href="#">
                        <img src="../img/main-page-first-slider.jpg" 
                            alt="first slide image"
                            loading="lazy"
                            class="slide-image">
                    </a>
                </div>
            </div>
            <div class="main-page-first-swiper-button-prev">
                <div class="main-page-first-swiper-button-prev-wrapper">
                    <img src="../img/main-page-firt-slider-arrow-prev.svg" 
                            alt="button to previous slide"
                            loading="lazy">
                </div>
            </div>
            <div class="main-page-first-swiper-button-next">
                <div class="main-page-first-swiper-button-next-wrapper">
                    <img src="../img/main-page-first-slider-arrow-next.svg" 
                            alt="button to next slide"
                            loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/swiper.min.js?v=1.0.0"></script>
<script src="assets/main-page-first-slider.js?v=1.0.0"></script>