body {
  font-family: "Poppins", sans-serif;
}

:root {
  --min-width: 320px;
  --max-width: 1920px;
  --max-width-container: 1400px;
  --primary-font-family: "Roboto", sans-serif;
  --text-color: #1d1d1f;
  --accent-color: #db042d;
  --header-height: 80px;
  --header-height: 80px;
}

.links-companies-section {
  padding: 20px 0px;
}

.companies-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.companies-links-item {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies-links-item img {
  max-width: 152.72px;
  max-height: 79.48px;
  padding: 0 10px;
  -webkit-transition-property: max-width;
  -o-transition-property: max-width;
  transition-property: max-width;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.companies-links-item:hover {
  background: #F5F7FF;
}

.companies-links-item:hover img {
  max-width: 160px;
  max-height: 90px;
  -webkit-transition-property: max-width;
  -o-transition-property: max-width;
  transition-property: max-width;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media (max-width: 992px) {
  .companies-links-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 478px) {
  .companies-links-list {
    grid-template-columns: 1fr 1fr;
  }

  .companies-links-item {
    height: 116px;
  }
}