body {
  font-family: "Poppins", sans-serif;
}

:root {
  --min-width: 320px;
  --max-width: 1920px;
  --max-width-container: 1400px;
  --primary-font-family: "Roboto", sans-serif;
  --text-color: #1d1d1f;
  --accent-color: #db042d;
  --header-height: 80px;
  --header-height: 80px;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.product-page-intel-swiper {
  background: #000000;
  position: relative;
}

.product-page-intel-slide-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.product-page-intel-slide-wrapper .product-page-intel-slide-left-side {
  max-width: 500px;
  padding: 165px 0px 165px 120px;
  z-index: 11;
}

.product-page-intel-slide-wrapper .product-page-intel-slide-left-side h2 {
  font-size: 44px;
  font-weight: 500;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.product-page-intel-slide-wrapper .product-page-intel-slide-left-side p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: #FFFFFF;
}

.product-page-intel-slide-wrapper .intel-image-wrapper {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 70%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-page-intel-slide-wrapper .intel-image-wrapper img {
  z-index: 1;
}

.product-page-intel-slide-wrapper .intel-image-wrapper .intel-image-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(73%, transparent), to(black)), -webkit-gradient(linear, left bottom, left top, color-stop(73%, transparent), to(black)), -webkit-gradient(linear, left top, left bottom, color-stop(73%, transparent), to(black));
  background: -o-linear-gradient(left, transparent 73%, black), -o-linear-gradient(bottom, transparent 73%, black), -o-linear-gradient(top, transparent 73%, black);
  background: linear-gradient(90deg, transparent 73%, black), linear-gradient(0deg, transparent 73%, black), linear-gradient(180deg, transparent 73%, black);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
}

.product-page-intel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 10;
  margin-left: 10px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #CACDD8;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet-active {
  background: #0156FF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1212px) {
  .product-page-intel-slide-wrapper .product-page-intel-slide-left-side {
    padding: 100px 0px 100px 120px;
  }
}

@media (max-width: 992px) {
  .product-page-intel-slide-wrapper .product-page-intel-slide-left-side {
    max-width: 326px;
    padding: 60px 0px 70px 60px;
    z-index: 11;
  }

  .product-page-intel-slide-wrapper .product-page-intel-slide-left-side h2 {
    font-size: 32px;
    margin-bottom: 13px;
  }

  .product-page-intel-slide-wrapper .product-page-intel-slide-left-side p {
    font-size: 14px;
  }

  .product-page-intel-pagination {
    display: none;
  }
}

@media (max-width: 768px) {
  .product-page-intel-slide-wrapper {
    display: grid;
    z-index: 10;
    padding: 0px 10px 30px 10px;
  }

  .product-page-intel-slide-wrapper .product-page-intel-slide-left-side {
    padding: 0;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }

  .product-page-intel-slide-wrapper .product-page-intel-slide-left-side h2 {
    text-align: center;
  }

  .product-page-intel-slide-wrapper .intel-image-wrapper {
    z-index: 5;
    position: relative;
    right: 8%;
    grid-row: 1;
    max-width: 100%;
    min-height: 100%;
  }

  .product-page-intel-slide-wrapper .intel-image-wrapper img {
    z-index: 1;
  }

  .product-page-intel-slide-wrapper .intel-image-wrapper .intel-image-gradient {
    background: -webkit-gradient(linear, left top, right top, color-stop(73%, transparent), to(black)), -webkit-gradient(linear, left bottom, left top, color-stop(73%, transparent), to(black)), -webkit-gradient(linear, left top, left bottom, color-stop(73%, transparent), to(black));
    background: -o-linear-gradient(left, transparent 73%, black), -o-linear-gradient(bottom, transparent 73%, black), -o-linear-gradient(top, transparent 73%, black);
    background: linear-gradient(90deg, transparent 73%, black), linear-gradient(0deg, transparent 73%, black), linear-gradient(180deg, transparent 73%, black);
  }
}