<link rel="stylesheet" href="assets/about-us-page-main-section.css?v=1.0.0">

<section class="about-us-page-main-section">
    <div class="container">
        <div class="about-us-upper-links">
            <a href="#">Home</a>
            <span>›</span>
            <p>About Us</p>
        </div>
        <div class="about-us-heading">
            <h3>About Us</h3>
        </div>
    </div>
    <div class="about-us-section-item">
        <div class="container">
            <div class="about-us-section-item-grid">
                <div class="about-us-section-item-text-part">
                    <h2>A Family That Keeps On Growing</h2>
                    <p>We always aim to please the home market, supplying great computers and hardware at great prices to non-corporate customers, through our large Melbourne CBD showroom and our online store.<br><br>

                        Shop management approach fosters a strong customer service focus in our staff. We prefer to cultivate long-term client relationships rather than achieve quick sales, demonstrated in the measure of our long-term success.</p>
                </div>
                <div class="about-us-section-item-img-part">
                    <img src="../img/about-us-1.jpg" 
                        alt="about us image"
                        loading="lazy">
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-section-item white-background">
        <div class="container">
            <div class="about-us-section-item-grid reverce-image">
                <div class="about-us-section-item-text-part">
                    <img src="../img/about-us-small-1.svg" 
                        alt="small about us image"
                        loading="lazy">
                    <h2>shop.com</h2>
                    <p>Shop is a proudly Australian owned, Melbourne based supplier of I.T. goods and services, operating since 1991. Our client base encompasses individuals, small business, corporate and government organisations. We provide complete business IT solutions, centred on high quality hardware and exceptional customer service.</p>
                </div>
                <div class="about-us-section-item-img-part">
                    <img src="../img/about-us-2.jpg" 
                        alt="about us image"
                        loading="lazy">
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-section-item">
        <div class="container">
            <div class="about-us-section-item-grid">
                <div class="about-us-section-item-text-part">
                    <img src="../img/about-us-small-2.svg" 
                        alt="small about us image"
                        loading="lazy">
                    <h2>You're In Safe Hands</h2>
                    <p>Experience a 40% boost in computing from last generation. MSI Desktop equips the 10th Gen. Intel® Core™ i7 processor with the upmost computing power to bring you an unparalleled gaming experience.<br><br>

                        *Performance compared to i7-9700. Specs varies by model.</p>
                </div>
                <div class="about-us-section-item-img-part">
                    <img src="../img/about-us-3.png" 
                        alt="about us image"
                        loading="lazy">
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-section-item white-background">
        <div class="container">
            <div class="about-us-section-item-grid reverce-image">
                <div class="about-us-section-item-text-part">
                    <img src="../img/about-us-small-3.svg" 
                        alt="small about us image"
                        loading="lazy">
                    <h2>The Highest Quality of Products</h2>
                    <p>We guarantee the highest quality of the products we sell. Several decades of successful operation and millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.</p>
                </div>
                <div class="about-us-section-item-img-part">
                    <img src="../img/about-us-4.jpg" 
                        alt="about us image"
                        loading="lazy">
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-section-item">
        <div class="container">
            <div class="about-us-section-item-grid">
                <div class="about-us-section-item-text-part">
                    <img src="../img/about-us-small-4.svg" 
                        alt="small about us image"
                        loading="lazy">
                    <h2>Delivery to All Regions</h2>
                    <p>We deliver our goods all across Australia. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>
                </div>
                <div class="about-us-section-item-img-part">
                    <img src="../img/about-us-5.png" 
                        alt="about us image"
                        loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>