<link rel="stylesheet" href="assets/dashboard-page-main-section.css?v=1.0.0">


<section class="dashboard-page-main-section">
    <div class="container">
        <div class="dashboard-main-section-wrapper">
            <div class="dashboard-upper-links">
                <a href="#">Home</a>
                <span>›</span>
                <p>My Dashboard</p>
            </div>
            <div class="dashboard-heading">
                <h2>My Dashboard</h2>
            </div>
            <div class="dashboard-section-item">
                <div class="dashboard-section-heading">
                    <h3>Account Information</h3>
                </div>
                <div class="dashboard-grid-wrapper">
                    <div class="dashboard-section-grid-inner">
                        <div class="dashboard-section-grid-item">
                            <h4>Contact Information</h4>
                            <span>Alex Driver<br>ExampeAdress@gmail.com</span>
                            <div class="dashboard-item-links-list">
                                <a href="#">Edit</a>
                                <a href="#">Change Password</a>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-section-grid-inner">
                        <div class="dashboard-section-grid-item">
                            <h4>Newsletters</h4>
                            <span>You don't subscribe to our newsletter.</span>
                            <div class="dashboard-item-links-list">
                                <a href="#">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-section-item">
                <div class="dashboard-section-heading">
                    <h3>Address Book</h3>
                    <a href="#">Menage Addresses</a>
                </div>
                <div class="dashboard-grid-wrapper">
                    <div class="dashboard-section-grid-inner">
                        <div class="dashboard-section-grid-item">
                            <h4>Default Billing Address</h4>
                            <span>You have not set a default billing address.</span>
                            <div class="dashboard-item-links-list">
                                <a href="#">Edit Address</a>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-section-grid-inner">
                        <div class="dashboard-section-grid-item">
                            <h4>Default Shipping Address</h4>
                            <span>You have not set a default shipping address.</span>
                            <div class="dashboard-item-links-list">
                                <a href="#">Edit Address</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>