<link rel="stylesheet" href="assets/login-page-main-section.css?v=1.0.0">


<section class="login-page-main-section">
    <div class="container">
        <div class="login-page-upper-links">
            <a href="index.html">Home</a>
            <span>›</span>
            <p>Login</p>
        </div>
        <div class="login-page-heading">
            <h2>Customer Login</h2>
        </div>
        <div class="login-page-main-part">
            <div class="login-page-main-part-left-side">
                <div class="login-heading">
                    <h3>Registered Customers</h3>
                    <p>If you have an account, sign in with your email address.</p>
                </div>
                <div class="login-inputs-wrapper">
                    <div class="login-input-item">
                        <label>Email <span>*</span></label>
                        <input type="text" required placeholder="Your Email">
                    </div>
                    <div class="login-input-item">
                        <label>Password <span>*</span></label>
                        <input type="password" required placeholder="Your Password">
                    </div>
                </div>
                <div class="login-button-and-restore">
                    <button type="submit" class="login-button-item">Sign In</button>
                    <a href="#" class="restore-password-link">Forgot Your Password?</a>
                </div>
            </div>
            <div class="login-page-main-part-right-side">
                <div class="create-account-side-heading">
                    <h3>New Customer?</h3>
                    <span>Creating an account has many benefits:</span>
                    <ul class="benefits-of-account">
                        <li>Check out faster</li>
                        <li>Keep more than one address</li>
                        <li>Track orders and more</li>
                    </ul>
                </div>
                <button class="login-page-create-account-button">Create An Account</button>
            </div>
        </div>
    </div>
</section>