<link rel="stylesheet" href="assets/main-page-links-companies-section.css?v=1.0.0">

<section class="links-companies-section">
    <div class="container">
        <ul class="companies-links-list">
            <a href="#" class="companies-links-item">
                <img src="../img/header-roccat-logo.png" 
                    alt="company logo"
                    loading="lazy">
            </a>
            <a href="#" class="companies-links-item">
                <img src="../img/header-msi-logo.png" 
                    alt="company logo"
                    loading="lazy">
            </a>
            <a href="#" class="companies-links-item">
                <img src="../img/header-razer-logo.png" 
                    alt="company logo"
                    loading="lazy">
            </a>
            <a href="#" class="companies-links-item">
                <img src="../img/header-thermaltke-logo.png" 
                    alt="company logo"
                    loading="lazy">
            </a>
            <a href="#" class="companies-links-item">
                <img src="../img/header-adata-logo.png" 
                    alt="company logo"
                    loading="lazy">
            </a>
            <a href="#" class="companies-links-item">
                <img src="../img/header-hp-logo.png" 
                    alt="company logo"
                    loading="lazy">
            </a>
            <a href="#" class="companies-links-item">
                <img src="../img/header-gigabyte-logo.png" 
                    alt="company logo"
                    loading="lazy">
            </a>
        </ul>
    </div>
</section>