<link rel="stylesheet" href="assets/product-page-intel-swiper.css?v=1.0.0">

<section class="product-page-intel-swiper">
    <div class="product-page-intel-swiper-wrapper">
        <div class="container">
            <div class="product-page-intel-swiper _swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-page-intel-slide-wrapper">
                            <div class="product-page-intel-slide-left-side">
                                <h2>Outplay the Competittion</h2>
                                <p>Experience a 40% boost in computing from last generation. MSI Desktop equips the 10th Gen. Intel® Core™ i7 processor with the upmost computing power to bring you an unparalleled gaming experience.<br><br>

                                    *Performance compared to i7-9700. Specs varies by model.</p>
                            </div>
                            <div class="intel-image-wrapper">
                                <img src="../img/product-page-intel-image.jpg" 
                                    alt="intel image"
                                    loading="lazy">
                                <div class="intel-image-gradient"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-page-intel-slide-wrapper">
                            <div class="product-page-intel-slide-left-side">
                                <h2>Outplay the Competittion</h2>
                                <p>Experience a 40% boost in computing from last generation. MSI Desktop equips the 10th Gen. Intel® Core™ i7 processor with the upmost computing power to bring you an unparalleled gaming experience.<br><br>

                                    *Performance compared to i7-9700. Specs varies by model.</p>
                            </div>
                            <div class="intel-image-wrapper">
                                <img src="../img/product-page-intel-image.jpg" 
                                    alt="intel image"
                                    loading="lazy">
                                <div class="intel-image-gradient"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-page-intel-slide-wrapper">
                            <div class="product-page-intel-slide-left-side">
                                <h2>Outplay the Competittion</h2>
                                <p>Experience a 40% boost in computing from last generation. MSI Desktop equips the 10th Gen. Intel® Core™ i7 processor with the upmost computing power to bring you an unparalleled gaming experience.<br><br>

                                    *Performance compared to i7-9700. Specs varies by model.</p>
                            </div>
                            <div class="intel-image-wrapper">
                                <img src="../img/product-page-intel-image.jpg" 
                                    alt="intel image"
                                    loading="lazy">
                                <div class="intel-image-gradient"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-page-intel-pagination"></div>
            </div>
        </div>
    </div>
</section>

<script src="assets/swiper.min.js?v=1.0.0"></script>
<script src="assets/product-page-intel-swiper.js?v=1.0.0"></script>