<link rel="stylesheet" href="assets/product-page-product-section.css?v=1.0.0">

<section class="product-page-product-section">
    <div class="upper-links-part">
        <div class="container">
            <div class="upper-links-part-wrapper">
                <ul class="upper-links-list">
                    <li class="upper-links-list-item active-upper-links-list-item">
                        <div class="upper-links-list-item-text">About Product</div>
                        <div class="upper-links-list-item-underline"></div>
                    </li>
                    <li class="upper-links-list-item">
                        <div class="upper-links-list-item-text">Details</div>
                        <div class="upper-links-list-item-underline"></div>
                    </li>
                    <li class="upper-links-list-item">
                        <div class="upper-links-list-item-text">Specs</div>
                        <div class="upper-links-list-item-underline"></div>
                    </li>
                </ul>
                <div class="right-part-upper-links">
                    <div class="right-part-upper-links-counter">
                        <p>On Sale from <span>$3,299.00</span></p>
                        <div class="right-part-upper-links-counter-item-wrapper">
                            <div class="right-part-upper-links-counter-item">
                                <span class="right-part-upper-links-counter-value">1</span>
                                <div class="right-part-upper-links-counter-item-arrows">
                                    <svg class="right-part-upper-links-counter-item-arrow-up" loading="lazy" alt="arrow to plus count" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 4L3 2L5 4" stroke-width="1.6" stroke-linecap="round"/>
                                    </svg>                                            
                                    <svg class="right-part-upper-links-counter-item-arrow-down" loading="lazy" alt="arrow to minus count" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 4L3 2L5 4" stroke-width="1.6" stroke-linecap="round"/>
                                    </svg> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-part-upper-links-add-to-cart-button">
                        <button type="submit" class="right-part-upper-links-add-to-cart-button-item">Add to Cart</button>
                    </div>
                    <div class="right-part-upper-links-paypall-button">
                        <button type="submit" class="right-part-upper-links-paypall-button-item">
                            <img src="../img/header-cart-paypal.svg" 
                                alt="button to paypall pay"
                                loading="lazy">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-part">
        <div class="product-part-background"></div>
        <div class="container">
            <div class="product-part-wrapper">
                <div class="product-part-left-side">
                    <ul class="mobile-upper-links">
                        <li class="mobile-upper-links-list-item active-mobile-upper-links-list-item">
                            <div class="mobile-upper-links-list-item-text">About Product</div>
                            <div class="mobile-upper-links-list-item-underline"></div>
                        </li>
                        <li class="mobile-upper-links-list-item">
                            <div class="mobile-upper-links-list-item-text">Details</div>
                            <div class="mobile-upper-links-list-item-underline"></div>
                        </li>
                        <li class="mobile-upper-links-list-item">
                            <div class="mobile-upper-links-list-item-text">Specs</div>
                            <div class="mobile-upper-links-list-item-underline"></div>
                        </li>
                    </ul>
                    <div class="product-part-slide active-product-part">
                        <div class="left-side-way-links">
                            <div class="left-side-way-links-item">
                                <a href="#">Home<span>›</span></a>
                            </div>
                            <div class="left-side-way-links-item">
                                <a href="#">Laptops<span>›</span></a>
                            </div>
                            <div class="left-side-way-links-item">
                                <a href="#">MSI WS Series<span>›</span></a>
                            </div>
                        </div>
                        <div class="left-side-product-name">
                            <h2>MSI MPG Trident 3</h2>
                        </div>
                        <div class="left-side-product-review-link">
                            <a href="#">Be the first to review this product</a>
                        </div>
                        <div class="left-side-product-description">
                            <p>MSI MPG Trident 3 10SC-005AU Intel i7 10700F, 2060 SUPER, 16GB RAM, 512GB SSD, 2TB HDD, Windows 10 Home, Gaming Keyboard and Mouse 3 Years Warranty Gaming Desktop</p>
                        </div>
                        <div class="left-side-product-color-variation">
                            <div class="filter-color-item-wrapper">
                                <div class="filter-color-item-wrapper-border active-filter-color-item">
                                    <div class="color-item-background background-black"></div>
                                </div>
                            </div>
                            <div class="filter-color-item-wrapper">
                                <div class="filter-color-item-wrapper-border">
                                    <div class="color-item-background background-yellow"></div>
                                </div>
                            </div>
                            <div class="filter-color-item-wrapper">
                                <div class="filter-color-item-wrapper-border">
                                    <div class="color-item-background background-white"></div>
                                </div>
                            </div>
                        </div>
                        <div class="left-side-contact-and-product-code">
                            <p>Have a Question? <a href="contact.html">Contact Us</a></p>
                            <span>SKU D5515AI</span>
                        </div>
                        <div class="left-side-more-info-link">
                            <a href="#"><span>+</span> More information</a>
                        </div>
                    </div>
                    <div class="product-part-slide">
                        <div class="left-side-way-links">
                            <div class="left-side-way-links-item">
                                <a href="#">Home<span>›</span></a>
                            </div>
                            <div class="left-side-way-links-item">
                                <a href="#">Laptops<span>›</span></a>
                            </div>
                            <div class="left-side-way-links-item">
                                <a href="#">MSI WS Series<span>›</span></a>
                            </div>
                        </div>
                        <div class="left-side-product-name">
                            <h2>MSI MPG Trident 3</h2>
                        </div>
                        <div class="left-side-product-review-link">
                            <a href="#">Be the first to review this product</a>
                        </div>
                        <div class="left-side-product-advantages">
                            <ul>
                                <li>Intel Core i7-10700F</li>
                                <li>Intel H410</li>
                                <li>WHITE</li>
                                <li>NVIDIA MSI GeForce RTX 2060 SUPER 8GB AERO ITX GDDR6</li>
                                <li>SO-DIMM 16GB (16GB x 1) DDR4 2666MHz</li>
                                <li>2 total slots (64GB Max)</li>
                                <li>512GB (1 x 512GB) M.2 NVMe PCIe GEN3x4 SSD 2TB (2.5) 5400RPM</li>
                                <li>Gaming Keyboard GK30 + Gaming Mouse GM11</li>
                                <li>3.5 HDD (0/0), 2.5 HDD/SSD(1/0), M.2 (1/0)</li>
                                <li>Intel WGI219Vethernet (10/100/1000M)</li>
                                <li>AX200 (WIFI 6)+BT5.1</li>
                                <li>PSU 330W</li>
                                <li>Fan Cooler</li>
                            </ul>
                        </div>
                        <div class="left-side-contact-and-product-code">
                            <p>Have a Question? <a href="contact.html">Contact Us</a></p>
                            <span>SKU D5515AI</span>
                        </div>
                        <div class="left-side-more-info-link">
                            <a href="#"><span>+</span> More information</a>
                        </div>
                    </div>
                    <div class="product-part-slide">
                        <div class="left-side-way-links">
                            <div class="left-side-way-links-item">
                                <a href="#">Home<span>›</span></a>
                            </div>
                            <div class="left-side-way-links-item">
                                <a href="#">Laptops<span>›</span></a>
                            </div>
                            <div class="left-side-way-links-item">
                                <a href="#">MSI WS Series<span>›</span></a>
                            </div>
                        </div>
                        <div class="left-side-product-name">
                            <h2>MSI MPG Trident 3</h2>
                        </div>
                        <div class="left-side-product-review-link">
                            <a href="#">Be the first to review this product</a>
                        </div>
                        <div class="left-side-product-variations">
                            <div class="left-side-product-variations-wrapper">
                                <div class="left-side-product-variations-item">
                                    <p>CPU</p>
                                    <span>N/A</span>
                                </div>
                                <div class="left-side-product-variations-item active-left-side-product-item">
                                    <p>Featured</p>
                                    <span>N/A</span>
                                </div>
                                <div class="left-side-product-variations-item">
                                    <p>I/O Ports</p>
                                    <span>N/A</span>
                                </div>
                            </div>
                        </div>
                        <div class="left-side-contact-and-product-code">
                            <p>Have a Question? <a href="contact.html">Contact Us</a></p>
                            <span>SKU D5515AI</span>
                        </div>
                        <div class="left-side-more-info-link">
                            <a href="#"><span>+</span> More information</a>
                        </div>
                    </div>
                </div>
                <div class="product-part-right-side">
                    <div class="product-page-main-image-swiper _swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../img/product-page-main-image.jpg" 
                                    alt="image of product"
                                    loading="lazy"
                                    class="product-page-main-swiper-image">
                            </div>
                            <div class="swiper-slide">
                                <img src="../img/product-page-main-image.jpg" 
                                    alt="image of product"
                                    loading="lazy"
                                    class="product-page-main-swiper-image">
                            </div>
                            <div class="swiper-slide">
                                <img src="../img/product-page-main-image.jpg" 
                                    alt="image of product"
                                    loading="lazy"
                                    class="product-page-main-swiper-image">
                            </div>
                        </div>
                    </div>
                    <div class="product-page-main-image-swiper-pagination"></div>
                    <div class="right-side-zip-ad">
                        <img src="../img/main-page-zip-logo.svg" 
                            alt="zip logo"
                            loading="lazy"
                            class="right-side-zip-image">
                        <div class="right-side-zip-ad-middle-line"></div>
                        <p>own it now, up to 6 months interest free <a href="#">learn more</a></p>
                    </div>
                    <div class="right-side-like-buttons">
                        <svg class="right-side-like-buttons-like" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke-width="2"/>
                            <path d="M14.6851 11.8254L15.3954 12.5419L16.1056 11.8254C16.7788 11.1462 17.8139 10.375 18.8922 10.375C19.9606 10.375 20.8026 10.7307 21.3714 11.278C21.9374 11.8225 22.2936 12.6141 22.2936 13.6095C22.2936 14.6805 21.8643 15.5925 21.1287 16.4761C20.3739 17.3829 19.3563 18.1913 18.2509 19.0643L18.2252 19.0846C17.2883 19.8241 16.2458 20.647 15.3958 21.5675C14.5542 20.655 13.5216 19.8387 12.593 19.1047L12.5424 19.0646L12.542 19.0643C11.4363 18.1911 10.4189 17.3825 9.66433 16.4757C8.92905 15.5921 8.5 14.6802 8.5 13.6095C8.5 12.6141 8.8562 11.8226 9.42223 11.278C9.99108 10.7308 10.8333 10.375 11.9021 10.375C12.9791 10.375 14.0111 11.1454 14.6851 11.8254Z" stroke-width="2"/>
                        </svg>
                        <svg class="right-side-like-buttons-rate" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke-width="2"/>
                            <path d="M10.3789 21.0883V16.6027" stroke-width="2.2" stroke-linecap="round"/>
                            <path d="M14.959 21.0884L14.959 7.69238" stroke-width="2.2" stroke-linecap="round"/>
                            <path d="M19.6201 21.0883L19.6201 12.2467" stroke-width="2.2" stroke-linecap="round"/>
                        </svg>
                        <svg class="right-side-like-buttons-mail" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke-width="2"/>
                            <path d="M21.6667 9.83423H8.33333C7.8731 9.83423 7.5 10.2073 7.5 10.6676V20.6676C7.5 21.1278 7.8731 21.5009 8.33333 21.5009H21.6667C22.1269 21.5009 22.5 21.1278 22.5 20.6676V10.6676C22.5 10.2073 22.1269 9.83423 21.6667 9.83423Z" stroke-width="1.7" stroke-linecap="round"/>
                            <path d="M7.5 11.0842L15 15.6676L22.5 11.0842" stroke-width="1.7" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-part-upper-links mobile-bottom-part-links">
            <div class="mobile-first-line-wrapper">
                <div class="right-part-upper-links-counter">
                    <div class="right-part-upper-links-counter-item-wrapper">
                        <div class="right-part-upper-links-counter-item">
                            <span class="mobile-right-part-upper-links-counter-value">1</span>
                            <div class="right-part-upper-links-counter-item-arrows">
                                <svg class="mobile-right-part-upper-links-counter-item-arrow-up" loading="lazy" alt="arrow to plus count" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4L3 2L5 4" stroke-width="1.6" stroke-linecap="round"/>
                                </svg>                                            
                                <svg class="mobile-right-part-upper-links-counter-item-arrow-down" loading="lazy" alt="arrow to minus count" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4L3 2L5 4" stroke-width="1.6" stroke-linecap="round"/>
                                </svg> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-part-upper-links-add-to-cart-button">
                    <button type="submit" class="right-part-upper-links-add-to-cart-button-item">Add to Cart</button>
                </div>
                <div class="right-part-upper-links-paypall-button">
                    <button type="submit" class="right-part-upper-links-paypall-button-item">
                        <img src="../img/header-cart-paypal.svg" 
                            alt="button to paypall pay"
                            loading="lazy">
                    </button>
                </div>
            </div>
            <div class="right-part-upper-links-mobile-bottom-button">
                <p>On Sale from <span>$3,299.00</span></p>
            </div>
        </div>
    </div>
</section>


<script src="assets/swiper.min.js?v=1.0.0"></script>
<script src="assets/product-page-product-section.js?v=1.0.0"></script>